{
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 70,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
